.main-content.blurred {
    filter: blur(4px);
    pointer-events: none;
    transition: filter 0.3s ease;
}

.order-card {
  transition: all 0.2s ease-in-out;
}
.order-card:hover {
  transform: translateY(-3px);
}
